@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

.dark body {
  @apply bg-slate-950 text-slate-100;
}

::selection {
  background: #0ea5e9;
  color: white;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
